.row{
    padding: 20px;
}
div{
    background-color: #0066ff;
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}

/*Estilo de foto de perfil*/
@media(min-width: 576px){
#fotodeperfil{
    
    border-radius: 50%;
    box-shadow: 3px 3px 3px cornflowerblue;
    
}
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 575px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 33%;
        top: 150px;
    }
}
