<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Universidad Tecnologica Nacional</h1> - <h3>(Actualidad)</h3>
                <p>En este momento me encuentro en Quinto Año en la Carrera 
                    de Ingenieria Electronica.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Colegio San Patricio</h1> - <h3>(Promocion 2010)</h3>
                <p>Lo mas importante que puedo destacar de mi educacion en
                    la institucion fue el excelente nivel de Ingles con el que 
                    me prepararon. 
                </p>
            </li>
        </ul>

    </div>
</div>