.row{
    padding: 1px;
}
div{
    background-color: #0066ff;
    text-align: center;
}
/*Etiqueta del nombre*/
#nombre{
    font-weight: bold;

}
/*Estilo de foto de perfil*/
@media(max-width: 576px){
#fotodeperfil{
    position:absolute;
    width: 20%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px cornflowerblue;
    left: 7%;
  
    
}
}
@media(min-width: 576px){
    #fotodeperfil{
        max-width: 15%;
        position:absolute;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 50%;
        top: 150px;
    }
}
