<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="100"
    [radius]="80"
    [subtitleColor]="'#000000'"
    [subtitle]="'Ingles'"
    [subtitleFontSize]="'20px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00e6ff'"
    [innerStrokeColor]="'#595959'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="50"
        [radius]="80"
        [subtitleColor]="'#000000'"
        [subtitle]="'Frances'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00e6ff'"
        [innerStrokeColor]="'#595959'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
        </div>
        
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="30"
        [radius]="80"
        [subtitleColor]="'#000000'"
        [subtitle]="'SQL'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00e6ff'"
        [innerStrokeColor]="'#595959'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
        </div>
        
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="65"
        [radius]="80"
        [subtitleColor]="'#000000'"
        [subtitle]="'C++'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00e6ff'"
        [innerStrokeColor]="'#595959'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
        </div>
        
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="90"
        [radius]="80"
        [subtitleColor]="'#000000'"
        [subtitle]="'Proactivo'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00e6ff'"
        [innerStrokeColor]="'#595959'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
        </div>
        
    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="85"
        [radius]="80"
        [subtitleColor]="'#000000'"
        [subtitle]="'Colaborativo'"
        [subtitleFontSize]="'20px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00e6ff'"
        [innerStrokeColor]="'#595959'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
        </div>
</div>
        