.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
  
    }
#logoap{
    width: 150px;
}
img{
    width: 50px;
}
.btn{
    border-width:medium ;
}

