<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Sovos</h1> - <h3>(Actualidad)</h3>
                <p>En Sovos mi rol es Analista Tecnico.
                    Mis tareas consisten en analisis y actualizacion
                    de bases de datos impositivos en EE.UU.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Teleperformance</h1> - <h3>(6 meses)</h3>
                <p>En Teleperformance mi rol era Agente de Retencion de Clientes.
                    Mis tareas consistian en la retencion de clienties que deseaban
                    cancelar el servicio brindado por la empresa ofreciendo soluciones
                    a sus inquietudes entre otras tareas.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Paseo Shopping</h1> - <h3>(5 Años)</h3>
                <p>En Paseo mi rol era Mantenimiento Tecnico.
                    Mis tareas consistian en realizar tareas de reparaciones varias e 
                    instalacion de nuevos dispositivos de acuerdo a las necesidades del Shopping.
                </p>
            </li>
        </ul>
    </div>
</div>