<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Guia de trabajo</h2>
            <p>Realice una guia de trabajo para mi equipo en donde se encuentran
                 muchos tutoriales paso a paso de como realizar las distintas tareas 
                 y como solucionar diversos errores con los que uno se puede encontrar.
                 Comence este proyecto en Diciembre 2020 cuando comence como Intern y todo 
                 el tiempo esta evolucionando con mas contenido.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/lamatips.jpeg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>